.footer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--clr-dark);
  flex: 1;
  margin-top: 2rem;
}

.footer__contacts {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 45%;
}

.footer__vr {
  display: flex;
  background-color: var(--clr-light);
  align-items: center;
  height: 2px;
  margin: 0.5rem 0;
}

.footer__under {
  display: flex;
  justify-content: space-around;
  gap: 45%;
}

a {
  color: var(--clr-light);
  font-weight: 800;
  text-decoration: none;
}
