.footer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--clr-dark);
  flex: 1;
  margin-top: 2rem;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  gap: 25%;
}

.footer__contacts h1 {
  font-size: var(--size-base);
}

.footer__under h3 {
  font-size: var(--size-s);
}

.footer__vr {
  display: flex;
  background-color: var(--clr-light);
  align-items: center;
  height: 2px;
  margin: 0.5rem 0;
}

.footer__under {
  display: flex;
  justify-content: space-between;
  gap: 25%;
}

.footer__under a {
  color: var(--clr-slate400);
  font-weight: 800;
  text-decoration: none;
  font-size: var(--size-s);
}

.footer__contacts img {
  width: 2.5em;
}

.contact__logo {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* xs */
/* @media (min-width: 475px) { } */

/* s */
@media (min-width: 640px) {
  .footer__contacts h1 {
    font-size: var(--size-xl);
  }

  .footer__contacts h3 {
    font-size: var(--size-base);
  }

  .footer__under h3 {
    font-size: var(--size-base);
  }

  .footer__under a {
    font-size: var(--size-base);
  }
}

/* m */
/* @media (min-width: 768px) { } */

/* l */
@media (min-width: 1024px) {
  .footer__contacts h1 {
    font-size: var(--size-2xl);
  }

  .footer__contacts h3 {
    font-size: var(--size-xl);
  }

  .footer__under h3 {
    font-size: var(--size-xl);
  }

  .footer__under a {
    font-size: var(--size-xl);
  }
}

/* xl */
/* @media (min-width: 1280px) { } */

/* 2xl */
/* @media (min-width: 1536px) { } */
